body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1338px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u48783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:872px;
}
#u48783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:872px;
  display:flex;
}
#u48783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u48784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u48784 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:18px;
  width:270px;
  height:16px;
  display:flex;
  color:#999999;
}
#u48784 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u48784_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u48785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:179px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48786 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:83px;
  width:1120px;
  height:179px;
  display:flex;
}
#u48786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u48787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48787 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:127px;
  width:103px;
  height:16px;
  display:flex;
}
#u48787 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u48787_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u48788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48788 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:174px;
  width:108px;
  height:16px;
  display:flex;
}
#u48788 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u48788_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u48789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48789 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:221px;
  width:136px;
  height:16px;
  display:flex;
}
#u48789 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u48789_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u48790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:348px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48790 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:272px;
  width:1120px;
  height:348px;
  display:flex;
}
#u48790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u48791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:53px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48791 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:648px;
  width:1120px;
  height:53px;
  display:flex;
}
#u48791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u48792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48792 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:655px;
  width:140px;
  height:40px;
  display:flex;
}
#u48792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48793 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:655px;
  width:140px;
  height:40px;
  display:flex;
}
#u48793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48794 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:378px;
  width:805px;
  height:180px;
}
#u48795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:30px;
}
#u48795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:30px;
  display:flex;
  text-align:left;
}
#u48795 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:30px;
}
#u48796 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:0px;
  width:267px;
  height:30px;
  display:flex;
  text-align:left;
}
#u48796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
}
#u48797 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:0px;
  width:245px;
  height:30px;
  display:flex;
  text-align:left;
}
#u48797 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:50px;
}
#u48798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:293px;
  height:50px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48798 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:50px;
}
#u48799 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:30px;
  width:267px;
  height:50px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:50px;
}
#u48800 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:30px;
  width:245px;
  height:50px;
  display:flex;
  font-size:12px;
  color:#0000FF;
  text-align:left;
}
#u48800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:50px;
}
#u48801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:293px;
  height:50px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:50px;
}
#u48802 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:80px;
  width:267px;
  height:50px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:50px;
}
#u48803 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:80px;
  width:245px;
  height:50px;
  display:flex;
  font-size:12px;
  color:#0000FF;
  text-align:left;
}
#u48803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:50px;
}
#u48804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:130px;
  width:293px;
  height:50px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:50px;
}
#u48805 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:130px;
  width:267px;
  height:50px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48805 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:50px;
}
#u48806 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:130px;
  width:245px;
  height:50px;
  display:flex;
  font-size:12px;
  color:#0000FF;
  text-align:left;
}
#u48806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u48807 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:280px;
  width:84px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u48807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48807_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u48808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u48808 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:83px;
  width:84px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u48808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48808_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u48809 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:406px;
  width:100px;
  height:152px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
