body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1524px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u48719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:872px;
}
#u48719 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:872px;
  display:flex;
}
#u48719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u48720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u48720 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:18px;
  width:170px;
  height:16px;
  display:flex;
  color:#999999;
}
#u48720 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u48720_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u48721 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48722_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#868686;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u48722_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#868686;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u48722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u48722 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:72px;
  width:142px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u48722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48722_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u48722.disabled {
}
#u48723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48724 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:72px;
  width:75px;
  height:30px;
  display:flex;
}
#u48724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48725 {
  border-width:0px;
  position:absolute;
  left:946px;
  top:72px;
  width:30px;
  height:30px;
  display:flex;
}
#u48725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u48726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u48726 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:79px;
  width:16px;
  height:16px;
  display:flex;
}
#u48726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u48727_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#868686;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u48727_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#868686;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u48727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u48727 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:72px;
  width:142px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u48727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48727_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u48727.disabled {
}
#u48728_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#868686;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u48728_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#868686;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u48728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u48728 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:72px;
  width:142px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u48728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48728_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u48728.disabled {
}
#u48729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48732 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48733 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:385px;
  width:24px;
  height:24px;
  display:flex;
}
#u48733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u48734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u48734 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:390px;
  width:14px;
  height:14px;
  display:flex;
}
#u48734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u48735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48735 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:388px;
  width:8px;
  height:15px;
  display:flex;
}
#u48735 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u48735_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u48736 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48737 {
  border-width:0px;
  position:absolute;
  left:1204px;
  top:385px;
  width:24px;
  height:24px;
  display:flex;
}
#u48737 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u48738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u48738 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:390px;
  width:14px;
  height:14px;
  display:flex;
}
#u48738 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u48739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48739 {
  border-width:0px;
  position:absolute;
  left:1238px;
  top:385px;
  width:50px;
  height:24px;
  display:flex;
}
#u48739 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u48740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u48740 {
  border-width:0px;
  position:absolute;
  left:1298px;
  top:385px;
  width:50px;
  height:24px;
  display:flex;
  color:#FFFFFF;
}
#u48740 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48741_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#868686;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u48741_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#868686;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u48741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48741 {
  border-width:0px;
  position:absolute;
  left:1358px;
  top:385px;
  width:50px;
  height:24px;
  display:flex;
}
#u48741 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48741_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48741.disabled {
}
.u48741_input_option {
}
#u48742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:24px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48742 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:385px;
  width:116px;
  height:24px;
  display:flex;
}
#u48742 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48743_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u48743_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u48743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u48743 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:72px;
  width:150px;
  height:30px;
  display:flex;
  color:#999999;
}
#u48743 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48743_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u48743.disabled {
}
.u48743_input_option {
  color:#999999;
}
#u48744 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:133px;
  width:1305px;
  height:237px;
}
#u48745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:48px;
}
#u48745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:48px;
  display:flex;
  text-align:left;
}
#u48745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
}
#u48746 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:0px;
  width:100px;
  height:48px;
  display:flex;
  text-align:left;
}
#u48746 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:48px;
}
#u48747 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:0px;
  width:78px;
  height:48px;
  display:flex;
  text-align:left;
}
#u48747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:48px;
}
#u48748 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:0px;
  width:101px;
  height:48px;
  display:flex;
  text-align:left;
}
#u48748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:48px;
}
#u48749 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:0px;
  width:109px;
  height:48px;
  display:flex;
  text-align:left;
}
#u48749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:48px;
}
#u48750 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:0px;
  width:165px;
  height:48px;
  display:flex;
  text-align:left;
}
#u48750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:48px;
}
#u48751 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:0px;
  width:178px;
  height:48px;
  display:flex;
  text-align:left;
}
#u48751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:48px;
}
#u48752 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:0px;
  width:80px;
  height:48px;
  display:flex;
  text-align:left;
}
#u48752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:48px;
}
#u48753 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:0px;
  width:399px;
  height:48px;
  display:flex;
  text-align:left;
}
#u48753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:63px;
}
#u48754 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:95px;
  height:63px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:63px;
}
#u48755 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:48px;
  width:100px;
  height:63px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:63px;
}
#u48756 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:48px;
  width:78px;
  height:63px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:63px;
}
#u48757 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:48px;
  width:101px;
  height:63px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:63px;
}
#u48758 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:48px;
  width:109px;
  height:63px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:63px;
}
#u48759 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:48px;
  width:165px;
  height:63px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:63px;
}
#u48760 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:48px;
  width:178px;
  height:63px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:63px;
}
#u48761 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:48px;
  width:80px;
  height:63px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:63px;
}
#u48762 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:48px;
  width:399px;
  height:63px;
  display:flex;
  font-size:12px;
  color:#0000FF;
  text-align:left;
}
#u48762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:63px;
}
#u48763 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:111px;
  width:95px;
  height:63px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:63px;
}
#u48764 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:111px;
  width:100px;
  height:63px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:63px;
}
#u48765 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:111px;
  width:78px;
  height:63px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:63px;
}
#u48766 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:111px;
  width:101px;
  height:63px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:63px;
}
#u48767 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:111px;
  width:109px;
  height:63px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:63px;
}
#u48768 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:111px;
  width:165px;
  height:63px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:63px;
}
#u48769 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:111px;
  width:178px;
  height:63px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:63px;
}
#u48770 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:111px;
  width:80px;
  height:63px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:63px;
}
#u48771 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:111px;
  width:399px;
  height:63px;
  display:flex;
  font-size:12px;
  color:#0000FF;
  text-align:left;
}
#u48771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:63px;
}
#u48772 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:174px;
  width:95px;
  height:63px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:63px;
}
#u48773 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:174px;
  width:100px;
  height:63px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:63px;
}
#u48774 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:174px;
  width:78px;
  height:63px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:63px;
}
#u48775 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:174px;
  width:101px;
  height:63px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:63px;
}
#u48776 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:174px;
  width:109px;
  height:63px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:63px;
}
#u48777 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:174px;
  width:165px;
  height:63px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:63px;
}
#u48778 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:174px;
  width:178px;
  height:63px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:63px;
}
#u48779 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:174px;
  width:80px;
  height:63px;
  display:flex;
  font-size:12px;
  text-align:left;
}
#u48779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:63px;
}
#u48780 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:174px;
  width:399px;
  height:63px;
  display:flex;
  font-size:12px;
  color:#0000FF;
  text-align:left;
}
#u48780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u48780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48781 {
  border-width:0px;
  position:absolute;
  left:1286px;
  top:190px;
  width:53px;
  height:171px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u48782 {
  border-width:0px;
  position:absolute;
  left:1349px;
  top:192px;
  width:53px;
  height:171px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
